 <div class="modal fade" id="editStorage" tabindex="-1" role="dialog" aria-labelledby="editStorage" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMainLabel">Edit Storage Name </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="form-control-label">New Name</label>
          <input minlength="2" class="form-control form-control-lg" type="text" name="newName" id="areaNewName" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="edit">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>    
</div>