<form  method="POST" action="" >
  {{ formMain.hidden_tag() }}
  <fieldset class="m-2 form-group">
    <div class="form-group">
      {{ formMain.name.label(class="form-control-label") }}
      {% if formMain.name.errors %}
          {{ formMain.name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in formMain.name.errors %}
                  <span>{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ formMain.name(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    {% if mainLabel=='Supplier' %}
      <div class="form-group">
        {{ formMain.contact.label(class="form-control-label") + " - +614 XXXX XXXX"}}
        {% if formMain.contact.errors %}
            {{ formMain.contact(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in formMain.contact.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ formMain.contact(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ formMain.website.label(class="form-control-label") }}
        {% if formMain.website.errors %}
            {{ formMain.website(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in formMain.website.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ formMain.website(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    {% endif %}
    <p id="infoForNewMain" style="color: red">If the Location has not been created. Please Click on Create New Location</p>
    <div class="form-group" id="main_form_state">
        {{ formMain.state.label(class="form-control-label") }}
        {% if formMain.state.errors %}
            {{ formMain.state(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in formMain.state.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ formMain.state(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    <div class="form-group" id="main_form_suburb">
        {{ formMain.suburb.label(class="form-control-label") }}
        {% if formMain.suburb.errors %}
            {{ formMain.suburb(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in formMain.suburb.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ formMain.suburb(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    <div class="form-group" id="main_form_address">
        {{ formMain.address.label(class="form-control-label") }}
        {% if formMain.address.errors %}
            {{ formMain.address(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in formMain.address.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ formMain.address(class="form-control form-control-lg") }}
        {% endif %}
    </div>
  </fieldset>
  <div class="form-group" id="main_form_submit">
      {{ formMain.submit(class="btn btn-outline-info", id ="formMainSubmit") }}
  </div>
</form>
<script src="{{ url_for('static', filename='javascript/commonTemps/mainForm.js') }}"></script>