{% extends "layout.html" %}
{% block content %}
	<div>
    	<h1 style="text-align: center;">Nil Stock One</h1>
		<div class="container mt-5">
			<p style="font-size: 1.5em; font-family: Metropolis">
				Nil Stock One has been designed to answer the intricate and various stock management requirements of On Point Estates in the short stay market. With just a few intuitive clicks, you can create new storage locations, add inventory, assign managers, order more stock and keep on top of your stock requirements. Storing stock across multiple addresses, whether it be organised warehouses and storage units or informal garages and linen cupboards in the house, Nil Stock One tracks it all where ever that may be. Whether you employ a professional and highly trained team or rely on the flexibility of gig economy contractors, Nil Stock One has simple functionality for everyone. Less mistakes, less loss, less stress. Nil Stock One will be the one thing keeping you from Nil Stock, none.
			</p>

		</div>

	</div>
    
{% endblock content %}
